<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="jumbotron">
    <div class="container">
      <button type="newBtn" class="primary btn"><a href="{{url_for('newTransaction')}}">New Transaction</a></button>
      <button type="button" name="reviewBtn" class="btn primary"><a href="{{url_for('review_transaction')}}">Review</a></button>
    </div>
  </body>
</html>
