<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="jumbotron">
    <div class="container">
        <ul class="list-group">
          {% for item in current_trans %}
          <li class="list-group-item">{{item}}<button type="button" class="btn-default btn"><a href="{{url_for('review', id = item['order_id'])}}">Review</a></button></li>
          {% endfor %}
        </ul>
      <button type="button" class="btn-default btn"><a href="{{url_for('newTransaction')}}">New Transaction</a></button>
      <button type="button" name="reviewBtn" class="btn btn-default"><a href="{{url_for('review')}}">Review</a></button>
    </div>
  </body>
</html>
