<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <form class="" action="{{url_for('newTransaction')}}" method="POST">
      <input type="text" name="id" value="" placeholder="id">
      <input type="text" name="vehicle_no" value="" placeholder="vehicle_no">
      <input type="text" name="address" value="" placeholder="address">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
