<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="jumbotron">
    <div class="container">
        <table>
        <tr>
            <th>User_id</th>
            <th>Currency</th>
            <th>Reputation</th>
        </tr>
        {% for item in distribution %}
        <tr>
            <td>
                {{item['user_id']}}
            </td>
            <td>
                {{item['currency']}}
            </td>
            <td>
                {{item['reputation']}}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</div>
</body>
</html>
